.container, .region--content-top,
.region--content-bottom,
.region--hero,
.region--secondary-navigation {
  position: relative;
  margin-left: auto;
  margin-right: auto;
} .navbar-brand > img {height: 80px!important;} .navbar-brand {height: 80px!important; max-width: 300px!important;} .navbar-fixed-top .navbar-nav {
    padding-left: 20px!important;
    padding-top: 15px!important;
}
.nav > li > a {padding: 0.5em 15px!important;}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navbar-default .dropdown-menu > li > a.is-active {
    background-color: #fff;
}
.views-field-counter span{padding-right: 10px;}
.main-container {
  overflow: hidden;
  min-height: 100%;
  min-height: calc(100vh - 50px);
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  z-index: 0;
  width: 100%;
}

.documents-column {
  float: left;
}
.documents-column .teaser {
  height: 240px;
  margin: 10px;
  -webkit-box-orient: vertical;
  flex-direction: column;

}
.documents-column .teaser .teaser__image {
  height: 140px;
  flex: 0 0 134px;
}

#content .layout--with-two-columns .region--content {
  padding-left: 1em;
  order: 2;
}

#views-exposed-form-latest-documents-page-latest-documents .form-group {
  /* float: left;
  margin-right: 10px; */
}

.region--title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}
.card__title {color:#004e70;}
.region--content,
.region--content-bottom,
.region--sidebar-first,
.region--sidebar-second {
  margin-top: 1rem;
}

.layout--with-complementary > .region--content {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.region--complementary {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.layout--with-two-columns .region--content,
.layout--with-two-columns .region--sidebar-first,
.layout--with-two-columns .region--sidebar-second {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 1em;
  padding-right: 1em;
}
#block-facilitador {box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
position: relative;background-color: #ffffff;display: flex; border-radius: 10px !important;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;flex-direction: column;
margin-bottom: 0.75rem;
background-clip: padding-box;
-webkit-box-flex: 1;flex-grow: 1;} #block-facilitador .block-title {font-size: 0.875rem; text-align: center; color: #004e70;
font-weight: 500;
text-transform: uppercase; }
.layout--with-three-columns .region--content,
.layout--with-three-columns .region--sidebar-first,
.layout--with-three-columns .region--sidebar-second {
  padding-left: 1em;
  padding-right: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.region--complementary-bottom {
  display: none;
}

@media (min-width: 900px) {
  .container, .region--content-top,
  .region--content-bottom,
  .region--hero,
  .region--secondary-navigation {
    max-width: 1200px;
  }
  .region--title {
    margin-top: 1rem;
  }
  .layout--with-complementary > .region--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .region--complementary {
    margin-top: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 33.33333%;
  }
  .layout--with-one-columns .region--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .layout--with-two-columns .region--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .layout--with-two-columns .region--sidebar-first,
  .layout--with-two-columns .region--sidebar-second {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30.33333%;
            flex: 0 1 30.33333%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 30.33333%;
  }
  .view-latest-documents {padding: 1.25rem;}
  .layout--with-three-columns .region--content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .layout--with-three-columns .region--sidebar-first,
  .layout--with-three-columns .region--sidebar-second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .region--complementary-bottom {
    display: block;
  }
  .region--complementary-top {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .layout--with-complementary > .region--content {
    padding-left: 0;
  }
  .region--complementary {
    padding-right: 0;
  }
  .layout--with-two-columns .region--content {
    padding-left: 0;
  }
  .layout--with-two-columns .region--sidebar-first,
  .layout--with-two-columns .region--sidebar-second {
    padding-right: 0;
  }
  .layout--with-three-columns .region--content {
    padding-left: 0;
  }
  .layout--with-three-columns .region--sidebar-second {
    padding-right: 0;
  }
}
